<section>
    <div class="container pt-5">
        <h3>Enter your delivery details</h3>
        <br>
        <div class="row">
            <div class="d-flex col-md-6">
                <form id="uploadForm"><label id="addErr" class="warrning"></label>
                    <label>Address</label>{{#if user.address}}
                    <div>
				        <input id="radi" type="radio" value="{{user.address}}" name="address">address 1				
                        <label  id="cs" name="address" value="">{{user.address}}</label>                        
                    </div>
                    <div>
                        <input id="radi" type="radio" value="{{user.address2}}" name="address">address 2
                        <label  id="cs" name="address" value="">{{user.address2}}</label>
                    </div>{{else}}                    
                    <input type="text" id="cs" name="address">
                    {{/if}}
                    <label>Pincode</label>
                    <input type="number" id="cs" name="pincode" minlength="4" required>
                    <label>Mobile</label>
                    <input type="text" id="cs" name="mobile" value="{{user.phone}}" maxlength="10" required>
                    <input type="text" style="width: 0; height: 0;" name="userId" value="{{user._id}}">

            </div>

            <div class="card border d-flex sanil col-md-6 pt-4">
                <h5 >Total: <span id="total"> {{total}}</span> </h5>
                <hr>
                <a href="/invoice" class="btn" style="background-color: rgb(59, 59, 240);color: #fff;font-weight: 700;">View current bill</a>
                <p>Payment method</p>
                <label class="radio-inline p-2 d-flex">
                    <input type="radio" id="radi" name="payment-method" value="COD" ><p style="height: 15px; padding: 2px; font-weight: 500;">COD</p>
                </label>

                <label class="radio-inline p-2">
                    <input style="border: #fff;" id="radi" type="radio" name="payment-method" value="Razorpay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="32" fill="#072654" viewBox="0 0 1896 401"><path fill="#3395FF" d="M122.63 105.7l-15.75 57.97 90.15-58.3-58.96 219.98 59.88.05L285.05.48"/><path d="M25.6 232.92L.8 325.4h122.73l50.22-188.13L25.6 232.92m426.32-81.42c-3 11.15-8.78 19.34-17.4 24.57-8.6 5.22-20.67 7.84-36.25 7.84h-49.5l17.38-64.8h49.5c15.56 0 26.25 2.6 32.05 7.9 5.8 5.3 7.2 13.4 4.22 24.6m51.25-1.4c6.3-23.4 3.7-41.4-7.82-54-11.5-12.5-31.68-18.8-60.48-18.8H324.4l-66.5 248.1h53.67l26.8-100h35.2c7.9 0 14.12 1.3 18.66 3.8 4.55 2.6 7.22 7.1 8.04 13.6l9.58 82.6h57.5l-9.32-77c-1.9-17.2-9.77-27.3-23.6-30.3 17.63-5.1 32.4-13.6 44.3-25.4a92.6 92.6 0 0 0 24.44-42.5m130.46 86.4c-4.5 16.8-11.4 29.5-20.73 38.4-9.34 8.9-20.5 13.3-33.52 13.3-13.26 0-22.25-4.3-27-13-4.76-8.7-4.92-21.3-.5-37.8 4.42-16.5 11.47-29.4 21.17-38.7 9.7-9.3 21.04-13.95 34.06-13.95 13 0 21.9 4.5 26.4 13.43 4.6 8.97 4.7 21.8.2 38.5zm23.52-87.8l-6.72 25.1c-2.9-9-8.53-16.2-16.85-21.6-8.34-5.3-18.66-8-30.97-8-15.1 0-29.6 3.9-43.5 11.7-13.9 7.8-26.1 18.8-36.5 33-10.4 14.2-18 30.3-22.9 48.4-4.8 18.2-5.8 34.1-2.9 47.9 3 13.9 9.3 24.5 19 31.9 9.8 7.5 22.3 11.2 37.6 11.2a82.4 82.4 0 0 0 35.2-7.7 82.11 82.11 0 0 0 28.4-21.2l-7 26.16h51.9L709.3 149h-52zm238.65 0H744.87l-10.55 39.4h87.82l-116.1 100.3-9.92 37h155.8l10.55-39.4h-94.1l117.88-101.8m142.4 52c-4.67 17.4-11.6 30.48-20.75 39-9.15 8.6-20.23 12.9-33.24 12.9-27.2 0-36.14-17.3-26.86-51.9 4.6-17.2 11.56-30.13 20.86-38.84 9.3-8.74 20.57-13.1 33.82-13.1 13 0 21.78 4.33 26.3 13.05 4.52 8.7 4.48 21.67-.13 38.87m30.38-80.83c-11.95-7.44-27.2-11.16-45.8-11.16-18.83 0-36.26 3.7-52.3 11.1a113.09 113.09 0 0 0-41 32.06c-11.3 13.9-19.43 30.2-24.42 48.8-4.9 18.53-5.5 34.8-1.7 48.73 3.8 13.9 11.8 24.6 23.8 32 12.1 7.46 27.5 11.17 46.4 11.17 18.6 0 35.9-3.74 51.8-11.18 15.9-7.48 29.5-18.1 40.8-32.1 11.3-13.94 19.4-30.2 24.4-48.8 5-18.6 5.6-34.84 1.8-48.8-3.8-13.9-11.7-24.6-23.6-32.05m185.1 40.8l13.3-48.1c-4.5-2.3-10.4-3.5-17.8-3.5-11.9 0-23.3 2.94-34.3 8.9-9.46 5.06-17.5 12.2-24.3 21.14l6.9-25.9-15.07.06h-37l-47.7 176.7h52.63l24.75-92.37c3.6-13.43 10.08-24 19.43-31.5 9.3-7.53 20.9-11.3 34.9-11.3 8.6 0 16.6 1.97 24.2 5.9m146.5 41.1c-4.5 16.5-11.3 29.1-20.6 37.8-9.3 8.74-20.5 13.1-33.5 13.1s-21.9-4.4-26.6-13.2c-4.8-8.85-4.9-21.6-.4-38.36 4.5-16.75 11.4-29.6 20.9-38.5 9.5-8.97 20.7-13.45 33.7-13.45 12.8 0 21.4 4.6 26 13.9 4.6 9.3 4.7 22.2.28 38.7m36.8-81.4c-9.75-7.8-22.2-11.7-37.3-11.7-13.23 0-25.84 3-37.8 9.06-11.95 6.05-21.65 14.3-29.1 24.74l.18-1.2 8.83-28.1h-51.4l-13.1 48.9-.4 1.7-54 201.44h52.7l27.2-101.4c2.7 9.02 8.2 16.1 16.6 21.22 8.4 5.1 18.77 7.63 31.1 7.63 15.3 0 29.9-3.7 43.75-11.1 13.9-7.42 25.9-18.1 36.1-31.9 10.2-13.8 17.77-29.8 22.6-47.9 4.9-18.13 5.9-34.3 3.1-48.45-2.85-14.17-9.16-25.14-18.9-32.9m174.65 80.65c-4.5 16.7-11.4 29.5-20.7 38.3-9.3 8.86-20.5 13.27-33.5 13.27-13.3 0-22.3-4.3-27-13-4.8-8.7-4.9-21.3-.5-37.8 4.4-16.5 11.42-29.4 21.12-38.7 9.7-9.3 21.05-13.94 34.07-13.94 13 0 21.8 4.5 26.4 13.4 4.6 8.93 4.63 21.76.15 38.5zm23.5-87.85l-6.73 25.1c-2.9-9.05-8.5-16.25-16.8-21.6-8.4-5.34-18.7-8-31-8-15.1 0-29.68 3.9-43.6 11.7-13.9 7.8-26.1 18.74-36.5 32.9-10.4 14.16-18 30.3-22.9 48.4-4.85 18.17-5.8 34.1-2.9 47.96 2.93 13.8 9.24 24.46 19 31.9 9.74 7.4 22.3 11.14 37.6 11.14 12.3 0 24.05-2.56 35.2-7.7a82.3 82.3 0 0 0 28.33-21.23l-7 26.18h51.9l47.38-176.7h-51.9zm269.87.06l.03-.05h-31.9c-1.02 0-1.92.05-2.85.07h-16.55l-8.5 11.8-2.1 2.8-.9 1.4-67.25 93.68-13.9-109.7h-55.08l27.9 166.7-61.6 85.3h54.9l14.9-21.13c.42-.62.8-1.14 1.3-1.8l17.4-24.7.5-.7 77.93-110.5 65.7-93 .1-.06h-.03z"/></svg>
                </label>                
                
                <label class="radio-inline p-2">  
                    <input id="radi" type="radio" name="payment-method" value="Paypal">
                    <svg width="70px" height="32" viewBox="0 0 101 32" preserveAspectRatio="xMinYMin meet" xmlns="http:&#x2F;&#x2F;www.w3.org&#x2F;2000&#x2F;svg"><path fill="#003087" d="M 12.237 2.8 L 4.437 2.8 C 3.937 2.8 3.437 3.2 3.337 3.7 L 0.237 23.7 C 0.137 24.1 0.437 24.4 0.837 24.4 L 4.537 24.4 C 5.037 24.4 5.537 24 5.637 23.5 L 6.437 18.1 C 6.537 17.6 6.937 17.2 7.537 17.2 L 10.037 17.2 C 15.137 17.2 18.137 14.7 18.937 9.8 C 19.237 7.7 18.937 6 17.937 4.8 C 16.837 3.5 14.837 2.8 12.237 2.8 Z M 13.137 10.1 C 12.737 12.9 10.537 12.9 8.537 12.9 L 7.337 12.9 L 8.137 7.7 C 8.137 7.4 8.437 7.2 8.737 7.2 L 9.237 7.2 C 10.637 7.2 11.937 7.2 12.637 8 C 13.137 8.4 13.337 9.1 13.137 10.1 Z"></path><path fill="#003087" d="M 35.437 10 L 31.737 10 C 31.437 10 31.137 10.2 31.137 10.5 L 30.937 11.5 L 30.637 11.1 C 29.837 9.9 28.037 9.5 26.237 9.5 C 22.137 9.5 18.637 12.6 17.937 17 C 17.537 19.2 18.037 21.3 19.337 22.7 C 20.437 24 22.137 24.6 24.037 24.6 C 27.337 24.6 29.237 22.5 29.237 22.5 L 29.037 23.5 C 28.937 23.9 29.237 24.3 29.637 24.3 L 33.037 24.3 C 33.537 24.3 34.037 23.9 34.137 23.4 L 36.137 10.6 C 36.237 10.4 35.837 10 35.437 10 Z M 30.337 17.2 C 29.937 19.3 28.337 20.8 26.137 20.8 C 25.037 20.8 24.237 20.5 23.637 19.8 C 23.037 19.1 22.837 18.2 23.037 17.2 C 23.337 15.1 25.137 13.6 27.237 13.6 C 28.337 13.6 29.137 14 29.737 14.6 C 30.237 15.3 30.437 16.2 30.337 17.2 Z"></path><path fill="#003087" d="M 55.337 10 L 51.637 10 C 51.237 10 50.937 10.2 50.737 10.5 L 45.537 18.1 L 43.337 10.8 C 43.237 10.3 42.737 10 42.337 10 L 38.637 10 C 38.237 10 37.837 10.4 38.037 10.9 L 42.137 23 L 38.237 28.4 C 37.937 28.8 38.237 29.4 38.737 29.4 L 42.437 29.4 C 42.837 29.4 43.137 29.2 43.337 28.9 L 55.837 10.9 C 56.137 10.6 55.837 10 55.337 10 Z"></path><path fill="#009cde" d="M 67.737 2.8 L 59.937 2.8 C 59.437 2.8 58.937 3.2 58.837 3.7 L 55.737 23.6 C 55.637 24 55.937 24.3 56.337 24.3 L 60.337 24.3 C 60.737 24.3 61.037 24 61.037 23.7 L 61.937 18 C 62.037 17.5 62.437 17.1 63.037 17.1 L 65.537 17.1 C 70.637 17.1 73.637 14.6 74.437 9.7 C 74.737 7.6 74.437 5.9 73.437 4.7 C 72.237 3.5 70.337 2.8 67.737 2.8 Z M 68.637 10.1 C 68.237 12.9 66.037 12.9 64.037 12.9 L 62.837 12.9 L 63.637 7.7 C 63.637 7.4 63.937 7.2 64.237 7.2 L 64.737 7.2 C 66.137 7.2 67.437 7.2 68.137 8 C 68.637 8.4 68.737 9.1 68.637 10.1 Z"></path><path fill="#009cde" d="M 90.937 10 L 87.237 10 C 86.937 10 86.637 10.2 86.637 10.5 L 86.437 11.5 L 86.137 11.1 C 85.337 9.9 83.537 9.5 81.737 9.5 C 77.637 9.5 74.137 12.6 73.437 17 C 73.037 19.2 73.537 21.3 74.837 22.7 C 75.937 24 77.637 24.6 79.537 24.6 C 82.837 24.6 84.737 22.5 84.737 22.5 L 84.537 23.5 C 84.437 23.9 84.737 24.3 85.137 24.3 L 88.537 24.3 C 89.037 24.3 89.537 23.9 89.637 23.4 L 91.637 10.6 C 91.637 10.4 91.337 10 90.937 10 Z M 85.737 17.2 C 85.337 19.3 83.737 20.8 81.537 20.8 C 80.437 20.8 79.637 20.5 79.037 19.8 C 78.437 19.1 78.237 18.2 78.437 17.2 C 78.737 15.1 80.537 13.6 82.637 13.6 C 83.737 13.6 84.537 14 85.137 14.6 C 85.737 15.3 85.937 16.2 85.737 17.2 Z"></path><path fill="#009cde" d="M 95.337 3.3 L 92.137 23.6 C 92.037 24 92.337 24.3 92.737 24.3 L 95.937 24.3 C 96.437 24.3 96.937 23.9 97.037 23.4 L 100.237 3.5 C 100.337 3.1 100.037 2.8 99.637 2.8 L 96.037 2.8 C 95.637 2.8 95.437 3 95.337 3.3 Z"></path></svg>
                  
                </label>
                <button class="btn btn-primary " style="float: right; height: 60px; font-weight: 800" type='submit' value="">Pay<div class="lds-dual-ring" id="load" style="width: 40px; display: none;"></div></button>
                <span id="h11"></span>
            </div>
            </form>
        </div>
    </div>
<div class="radi">qq</div>
</section>
{{!-- <script src="Ac50voE8lHh3bd1d6C3p4fGRQ1-Gar6Nl6naDmwJCNUGX9U-mbiJETOLdU0LAIi783NmE7un0Ljlk7kt"></script> --}}
{{!-- <script src="AXazMvBms7A3vEqxt8W_6xrLgNs_d1yvk-cKWA_JJKusjzsI9DhzFTSTyAQi3onNvqeIKC6q494nIVR-"></script> --}}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{{!-- <script>
     paypal.Buttons({
        style: {
            color: 'gold',
            shape: ''
        },
        createOrder: function (data, actions) {
            console.log(data)
            console.log(actions)
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '0.5' 
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                console.log(details)
                window.location.replace("http://localhost:3000/")
            })
        },
        onCancel: function (data) {
            window.location.replace("http://localhost:3000/")
        }
    }).render('#paypal-payment-button');</script>

</script> --}}
<style>
    #radi{
         background-color: #ddd;
  background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
    -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
  border-radius: 10px;
    }
</style>
<script>


     var db = document.getElementById("total").innerHTML
     var load =  document.getElementById("load")
    document.getElementById("total").innerHTML = "₹"+db.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    
    $("#uploadForm").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        load.style = "display:inline-block"
        $.ajax({
            url: "/place-order",  
            method: "POST",
            timeout: 0,
        
            data: $('#uploadForm').serialize(),
            success: function (response) {
                
                if (response.CODSuccess) {
                    alert("COD Success")
                    window.location.replace("/form-success");
                }
                else if(response.paypal){
                    location.href = response.url;
                }
                else if(response.addressErr){
                    s()
                }
                else {
                    d(response)
                }
            }
        });
    })

function s(){ 

   let elem = document.getElementById("addErr") 
   elem.innerHTML = "Please enter input of all the check-boxes"
   elem.style.color = "red"; 
   elem.style.fontSize = "15px";
   load.style = "display:none";

}
function d(order){

var options = {
    "key": "rzp_test_QH34rl1N5IfMxp", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Shopiy",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       // alert(response.razorpay_payment_id);
       // alert(response.razorpay_order_id);
        //alert(response.razorpay_signature)
       verifyPayment(response,order)
    },
    "prefill": {
        "name": "Sanil ps",
        "email": "sanil_ps@google.com",
        "contact": "9645045566"
    },
   
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);

alert("Ok : "+order.id)

rzp1.open();
};



function verifyPayment(payment,order){
  $.ajax({
    url: '/verify-payment',
    data:{
      payment,
      order
    },
    method: 'post',
    success:(res)=>{
      if(res.status){ 
        location.replace('/form-success')
      }
      else{
        alert("server : wait..")
        url({
        title: "Sorry, Payment Failed Retry",
        icon: 'warning',
        dangerMode:true,
        })
        location.replace('/place-order')
      }
    }
  })
} 
</script>

{{!--function razorpayPayment(order){
var options = {
  "key": "rzp_test_QH34rl1N5IfMxp", // Enter the Key ID generated from the Dashboard
    "amount": 900, //order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "KIDDIE",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_JniMuWGnaVDhiM", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
     
        verifyPayment(response,order)
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
}

--}}

<style>
    .lds-dual-ring {
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>