<section class="main" style="position: relative;padding-bottom: 10px;">
    <div class="cono " style="width: 100%;overflow: hidden;">
        <div class="row" style="margin-left:0;margin-right: 0;">
            <div class="col-md-6" style="padding: 0%;">
                <div class="card " style="border: none;">
                    <figure style="position: relative;bottom: 0;margin: 0 0 0 0;">
                        <img src="./images/index2-slide-1.jpg" style="height: 685px; " />
                    </figure>
                    <div class="card-footer-1 p-lg-5 "
                        style="border-top:none; color: none; position: absolute;bottom: 0;padding: 1rem;">
                        <div class="row gutter-1" style="margin: -5px;">
                            <div class="a col-md-8"
                                style="color:rgb(107, 45, 45) ;flex: 0 0 66%;display: contents;max-width: 86%;">
                                <h2>Fancy Jewelery</h2>
                            </div>
                            <div class="a-b col-md-4 "><a href=". ." class="card btn btn-br"
                                    style="display: flex;color:rgb(54, 49, 49); border-radius: 2px; font-weight: 500;">Shop
                                    now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0%;">
                <div class="card" style="border: none;">
                    <figure style="position: relative;bottom: 0; margin: 0 0 0 0;">
                        <img src="./images/Annotation slide-0.jpg" style="height: 685px ;">
                    </figure>
                    <div class="card-footer p-lg-5" style="position: absolute;bottom: 0;">
                        <div class="row gutter-2" style="margin: -5px;">
                            <div class="col-md-8" style="color:#fff ;flex: 0 0 66%;display: contents;max-width: 86%;">
                                <h2>Mens Clothings</h2>
                            </div>
                            <div class="col-md-4"><a href=". ." class="card btn btn-br"
                                    style="display: flex;color:rgb(54, 49, 49); border-radius: 2px; font-weight: 500;">Shop
                                    now</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>

<div class="tcls">
    <div class="" style="border-top: 1px solid #eaeaead0;">
        <div style="border-bottom: 1px solid #eaeaead0; padding: 15px 20px;">

            <h2 class="h2cls"> BIGGEST DEAL ON TOP BRANDS </h2>

        </div>

        <div class="wwrapper">
            {{#each offerProducs}}
            <div class="item">
                <a href="">
                    <div style="margin-top: 40px;">
                        <img style="width: 120px; height:150px;" src="/product-images/{{this._id}}.jpg" alt="" />

                        <div style="position: relative;">
                            <div
                                style="display: flex; position: absolute; width:220px ;justify-content: center;text-align: center; line-height: 35px;">
                                <div style="text-align: center;">
                                    <div style="font-size: small; ">{{this.name}}</div>
                                    <div  style="font-weight: 600; color: #e97a1e;font-size: small; ">{{this.discount}}% discount</div>
                                </div>
                                <div style="text-align: center; line-height: 65px; padding:8px">
                                    <button onclick="addToCart('{{this._id}}')" class="btn border-dark"
                                        style="font-size: small; padding: 2px">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
            <div class="item">
                <a href="">
                    <div style="margin-top: 40px;">
                        <img
                            src="https://rukminim1.flixcart.com/image/150/150/l4d2ljk0/hair-oil/q/1/6/32-2-x-faster-beard-growth-oil-with-100-natural-ingredients-original-imagf9wmm3hzrgst.jpeg?q=70">
                    </div>
                    <div
                        style="display: flex; position: absolute; width:220px ;justify-content: center;text-align: center; line-height: 35px;">
                        <div style="text-align: center;">
                            <div style="font-size: small; ">Mens Beard Oil</div>
                            <div style="font-size: small; ">10% discount</div>
                        </div>
                        <div style="text-align: center; line-height: 65px; padding:8px">
                            <button onclick="addToCart('{{this._id}}')" class="btn border-dark"
                                style="font-size: small; padding: 2px">
                                Add
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">box2<i class="fa-solid fa-cart-plus"></i></div>
            <div class="item">box4<i class="fa-light fa-cart-plus"></i></div>
            <div class="item">box5 <i class="fa-brands fa-cc-visa"></i></div>
            <div class="item">box6</div>

        </div>


    </div>
</div>









<section style="background-color: beige;" class="mt-4">
    <div class="conatiner ">
        <div class="row" style="margin-right: 0; margin-left: 15px;">
            {{#each products}}
            
            <div class="col-lg-3 col-md-4 col-sm-6 mt-4 hov"> 
                               
                <a href="/proView/{{this._id}}" style="color: #333;text-decoration: none;">
                    <div class="card"  style=" height: 25rem;"> 

                        <img class="card-img-top" style=" height:25rem;"
                            src="/product-images/{{this._id}}.jpg" alt="Card image cap"/>
                        <div class="d-flex tick"
                            style="background-color: rgba(255, 255, 255, 0.658);border-bottom:solid 0px rgb(219, 212, 212);">
                            <div class="card-body " style="padding-top: 0px;">
                                {{!-- <h5 class="title" style="font-size: 18px;">{{this.name}} </h5> --}}
                                <p class="card-text" style="font-size: 15px;">{{this.details}} .</p>
                            </div>
                            {{!-- <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul> --}}
                            <div class="card-body" style="padding-top: 0px;">
                                <p class="card-text" style="font-weight: 600; color: #e97a1e;"
                                 >₹{{this.price}}</p>
                            </div>
                        </div>  
                        
                    </div>
               </a>
               <div id="bton" class="border-top-0" style="height: 45px;border:solid 1px rgb(219, 212, 212);background-color: rgba(255, 255, 255, 0.658);">
           <button id="bt"  style="z-index: 10;color: rgb(15, 13, 13);" onclick="addToCart('{{this._id}}')" class="btn btn-outline-light">ADD TO CART</button>
           <a href="/wishlist/{{this._id}}"  id="tb" class="btn btn-outline-light" style="color:black;">WISH LIST</a>
        
          </div>
        </div>    
    {{/each}}
    </div>
    </div>
</section>